<div class="container">
    <h1>Add an Event</h1>
    <div class="main">
        <mat-stepper class="bg-img" orientation="vertical" [linear]="isLinear" #stepper>

            <!-- First form  -->
            <div>
                <mat-step [stepControl]="basic">
                    <form [formGroup]="basic" enctype="multipart/form-data" id="event-info">
                        <ng-template matStepLabel>Fill out event information</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Event Name</mat-label>
                            <input matInput formControlName="eventName" required>
                            <mat-error class="error" *ngIf="basic.controls['eventName'].hasError('required')">Event Name
                                is
                                required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" readonly [(ngModel)]="emailId" required>
                            <mat-error class="error" *ngIf="basic.controls['email'].hasError('required')">Email is
                                required</mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="fill">
                        <mat-label>Event Id</mat-label>
                        <input matInput formControlName="eventId" required>
                        <mat-error class="error" *ngIf="basic.controls['eventId'].hasError('required')">Event ID is
                            required</mat-error>
                    </mat-form-field> -->
                        <mat-form-field appearance="fill">
                            <input matInput [matDatepicker]="picker" min="{{defaultDate | date: 'yyyy-MM-dd'}}"
                                formControlName="date" placeholder="{{defaultDate | date:'MM/dd/yyyy'}}">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error class="error" *ngIf="basic.controls['date'].hasError('required')">Date is
                                required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <input matInput name="selected_time_A" formControlName="time" [ngxMatTimepicker]="pickerA"
                                placeholder="8:00 AM" readonly min="8:00 AM" max="10:00 PM" />
                            <mat-icon matSuffix (click)="pickerA.open()">watch_later </mat-icon>
                            <mat-hint>Please select time between 8:00 AM to 10:00 PM</mat-hint>
                            <mat-error class="error" *ngIf="basic.controls['time'].hasError('required')">Time is
                                required</mat-error>
                        </mat-form-field>
                        <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
                        <mat-form-field appearance="fill">
                            <mat-label>Venue</mat-label>
                            <input matInput placeholder="Eg, XYZ Street" formControlName="venue" required>
                            <mat-error class="error" *ngIf="basic.controls['venue'].hasError('required')">Venue name is
                                required</mat-error>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext mat-raised-button>Next</button>
                        </div>
                    </form>
                </mat-step>
                <!-- Second form -->
                <mat-step [stepControl]="secondry">
                    <form [formGroup]="secondry" id="event-info">
                        <ng-template matStepLabel>Other Details</ng-template>

                        <div class="upload-image">
                            <label for="choose-file">Select an image</label>
                            <input type="file" id="choose-file" formControlName="image" multiple
                                (change)="onFileChanged($any($event).target.files)" #fileInput>
                        </div>


                        <mat-form-field appearance="fill">
                            <mat-label>Organizer Name</mat-label>
                            <input matInput placeholder="Organizer name" required formControlName="organizerName">
                            <mat-error class="error"
                                *ngIf="secondry.controls['organizerName'].hasError('required')">Organizer's
                                name is required</mat-error>
                        </mat-form-field>


                        <mat-label>Event Type</mat-label>
                        <mat-radio-group aria-label="Select an option" required formControlName="eventType">
                            <mat-radio-button value="movie">movie</mat-radio-button>
                            <mat-radio-button value="event">event</mat-radio-button>
                        </mat-radio-group>


                        <!-- <mat-form-field appearance="fill">
                        <mat-label>Event Type</mat-label>
                        <input matInput  placeholder="Organizer name" required formControlName="eventType">
                        <mat-error class="error" *ngIf="secondry.controls['eventType'].hasError('required')">Organizer's
                            name is required</mat-error>
                    </mat-form-field> -->
                        <mat-form-field appearance="fill">
                            <mat-label>Event description</mat-label>
                            <input matInput placeholder="description" required formControlName="description">
                            <mat-error class="error"
                                *ngIf="secondry.controls['description'].hasError('required')">Description is
                                required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Total Seats</mat-label>
                            <input matInput type="number" required formControlName="seats" min="1" max="150" readonly
                                [(ngModel)]="totalSeats">
                            <mat-error class="error" *ngIf="secondry.controls['seats'].hasError('required')">Total seats
                                is
                                required</mat-error>
                            <mat-error class="error" *ngIf="secondry.controls['seats'].hasError('max')">Total seats
                                cannot
                                exceed more than 50</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Price of one seat</mat-label>
                            <input matInput placeholder="eg 62" type="number" required formControlName="price" min="100"
                                max="800"><mat-icon class="icon" matIconPrefix>currency_rupee</mat-icon>
                            <mat-error class="error" *ngIf="secondry.controls['price'].hasError('required')">Price is
                                required</mat-error>
                            <mat-error class="error" *ngIf="secondry.controls['price'].hasError('min')"> Price cannot be
                                less than &#8377; 100</mat-error>
                            <mat-error class="error" *ngIf="secondry.controls['price'].hasError('max')"> Price cannot
                                exceed more than &#8377; 800</mat-error>
                        </mat-form-field>


                        <mat-form-field appearance="fill">
                            <mat-label>Rating</mat-label>
                            <input matInput placeholder="rating" required formControlName="rating">
                            <mat-error class="error" *ngIf="secondry.controls['rating'].hasError('required')">Rating is
                                required</mat-error>
                        </mat-form-field>

                        <div>
                            <button mat-button matStepperPrevious mat-raised-button>Back</button>
                            <button mat-button matStepperNext mat-raised-button>Next</button>
                        </div>
                    </form>
                </mat-step>
                <!-- Last Step -->
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button mat-raised-button (click)="save(basic, secondry);"
                            [disabled]="basic.invalid || secondry.invalid">Submit</button>
                        <button mat-button (click)="stepper.reset()" mat-raised-button>Reset</button>
                    </div>
                </mat-step>
            </div>
        </mat-stepper>

        <!-- Animations for form -->
        <div class="image-shift">
            <div id="img-one" class="slide-active"><img src="../../../../assets/images/event.jpg" alt="Event One"></div>
        </div>
    </div>
</div>