<div id="back-img">
    <div class="tile">
        <div id="img">
            <div id="part1">
                <img src="data:image/png;base64,{{event.image}}" alt="" style="width:420px; height:580px ">
            </div>
            <div id="part2">
                <h1 class="event-name">{{event.eventName}}</h1>
                <p><i class="fa fa-star checked"></i> {{event.rating}}</p>
                <p><i class='far fa-calendar-alt'></i> {{event.date}}</p>
                <p><i class='far fa-clock'></i> {{event.time}}</p>
                <h2 class="about">Description</h2>
                <p class="event-description">{{event.description}}</p>
                <mat-card-footer id="button">
                    <button mat-raised-button (click)="book()">Book now</button>
                </mat-card-footer>
            </div>
        </div>
    </div>
    <div class="recommended">
        <h3>Recommended</h3>
        <div class="recommended-section">
            <div class="event-grid-item" *ngFor="let event of movies | slice:0:4;" id="{{event.eventId}}-card"
                (click)="navigateToMovieDetail(event.eventId)">
                <img src="data:image/png;base64,{{event.image}}" class="banner" alt="" />
                <div class="info">
                    <p class="title">{{event.eventName}}</p>
                    <p class="box">Release Date: {{event.date}}</p>
                    <p class="box">Rating: {{event.rating}}</p>
                </div>
            </div>
        </div>
    </div>
</div>