<div class="footer">
    <div class="footer-content">
        <div class="menu">
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/signup">Signup</a></li>
                <li><a routerLink="/home">About Us</a></li>
                <li><a routerLink="/home">Contact Us</a></li>
                <li><a routerLink="/home">Terms and Condition</a></li>
            </ul>
        </div>
        <div class="subscribe">
            <input type="text" placeholder="Enter your email address">
            <button type="button">Subscribe</button>
        </div>
    </div>
    <div class="footer-credits">
        <p>Copyright All Rights Are Reserved <a routerLink="/home">Ticket Hunt</a></p>
    </div>
</div>